<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>allowAnyShortcut</key>
	<true/>
	<key>alternateDefaultShortcuts</key>
	<true/>
	<key>bottomHalf</key>
	<dict/>
	<key>bottomLeft</key>
	<dict/>
	<key>bottomRight</key>
	<dict/>
	<key>center</key>
	<dict/>
	<key>centerHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>125</integer>
		<key>modifierFlags</key>
		<integer>1835008</integer>
	</dict>
	<key>greenButtonOverride</key>
	<true/>
	<key>larger</key>
	<dict/>
	<key>launchOnLogin</key>
	<true/>
	<key>leftHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>123</integer>
		<key>modifierFlags</key>
		<integer>1835008</integer>
	</dict>
	<key>maximize</key>
	<dict>
		<key>keyCode</key>
		<integer>126</integer>
		<key>modifierFlags</key>
		<integer>1835008</integer>
	</dict>
	<key>maximizeHeight</key>
	<dict/>
	<key>nextDisplay</key>
	<dict/>
	<key>previousDisplay</key>
	<dict/>
	<key>reflowTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>restore</key>
	<dict/>
	<key>rightHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>124</integer>
		<key>modifierFlags</key>
		<integer>1835008</integer>
	</dict>
	<key>smaller</key>
	<dict/>
	<key>subsequentExecutionMode</key>
	<integer>1</integer>
	<key>todo</key>
	<integer>2</integer>
	<key>toggleTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>11</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>topHalf</key>
	<dict/>
	<key>topLeft</key>
	<dict/>
	<key>topRight</key>
	<dict/>
</dict>
</plist>
