<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JpegOptimMaxQuality</key>
	<real>84.70833333333333</real>
	<key>LossyEnabled</key>
	<true/>
	<key>LossyUsed</key>
	<true/>
</dict>
</plist>
